@charset "utf-8";
/* ↓全ページ共通 */
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Altivo','Plus Jakarta Sans','Space Grotesk','Inter','Zen Kaku Gothic New', sans-serif;
    background-color: #FFFEFB;
    color:#3a3a3a;
}

img {
    width: auto;
}

/* リンクボタン */
.PC_btn {
    background-color: #fff;
    display: flex;
    width: 336px;
    height: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 160px;
    border: .5px solid #3a3a3a;
}

.PC_btn_contact_center{
    display: flex;
    justify-content: center;
    margin: 160px auto 200px;
}


/* ヘッダーセクション */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.74%;
    width: 100%;
    top: 30px;
    z-index: 99998;
    background-color: #fff;
}

.header-nav ul {
    display: flex;
    gap: 26px;
}

.logo {
    width: 160px;
}

/* PC版ではハンバーガー、SP版navを非表示にする */
.hamburger,
.header-nav-sp {
    display: none;
}

/* 飛び先ページ見出し */
.head-container {
    display:block;
    width: 100%;
    height: 272px;
    border-radius: 0px 0px 160px 0px;
    background-color: #f9f9f9;
    padding-top: 84px;
    padding-bottom: 84px;
    padding-left:160px;
}

.head-container h2 {
    background-image: url(../images/heading_rainbow_img.png);
    background-repeat: no-repeat;
    padding: 20px 0px 30px 40px;
}

.head-title .en {
font-size: 16px;
margin-bottom: 16px;
}

.head-title .ja {
font-size: 32px;
font-weight: 600;
}

/* フッターセクション */
#footer{
    width:90%;
    margin-left: 0;
    padding: 80px 160px 40px 80px;
    border-radius: 0px 0px 160px 0px;
    background-color: #F9F9F9;
    position: relative;
}
.footer_inner{
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    width: 160px;
}

.footer_main{
    text-align: right;
}

.footer-nav{
    margin-bottom:80px;
}

.footer-nav ul {
    display: flex;
    gap: 26px;
}

.to_Top_btn{
    position: absolute;
    right: 0;
    top: 30%;
}

/* ↑全ページ共通 */

/* all_worksセクション */
.all_works{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 160px;
    margin-bottom: 200px;
}

.all_works_h3{
    font-size: 16px;
    text-align: center;
    margin: 80px 0 40px 0;
}

.all_works h4 {
    font-size: 16px;
    margin-top: 22px;
    margin-bottom: 8px;
}


.banner{
    width: 240px;
    margin-left: 32px;
}

.all_works_inner{
    min-width: 480px;
}

.banner_icecream{
    background-color: #EBF4FF;
    width: 480px;
    display: flex;
    justify-content: center;
    padding: 60px 0;
    border-radius: 16pt;
}

.banner_dxburger{
    background-color: #EFD7CB;
    width: 480px;
    display: flex;
    justify-content: center;
    padding: 60px 0;
    border-radius: 16pt;
}

.website_portfolio{
    background:linear-gradient(90deg,rgba(248, 174, 206, .4) 0%, rgba(252, 200, 171, .4) 25%, rgba(255, 249, 179, .4) 50%, rgba(211, 235, 164, .4) 75%, rgba(169, 205, 242, .4) 100%);
    width: 480px;display: flex;
    justify-content: center;
    padding: 60px 0;
    border-radius: 16pt;
}

.website_lifehair{
    background-color: #F5CCCF;
    width: 480px;
    display: flex;
    justify-content: center;
    padding: 60px 0;
    border-radius: 16pt;
}

.website_designcafe{
    background-color: #FEF7EC;
    width: 480px;
    display: flex;
    justify-content: center;
    padding: 60px 0;
    border-radius: 16pt;
}

.website_workers{
    background-color: #FFEDA6;
    width: 480px;
    display: flex;
    justify-content: center;
    padding: 60px 0;
    border-radius: 16pt;
}